<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="card mt-2">
		
		<div class="card-header">
	     <h5 class="card-title">BORSA TREBALL</h5>
	  </div>

    <div class="card-body">
	    
			<table class="table table-striped">
		  		<thead>
				    <tr>		      
						<th scope="col">Nombre</th>
						<th scope="col">Descrpció</th>
					   	<th scope="col">Habilitats</th>
					   	<th scope="col">Empresa</th>
					  
				     
				      </th>
				    </tr>
		  		</thead>
			  	<tbody>
			  		<% listaOfertas.forEach( function(oferta) { %>
					    <tr>		      
					      <td><%= oferta.title %></td>
						  <td><%= oferta.description %></td>
						  <td><%= oferta.skills %></td>
						  <td><%= oferta.createBy %></td>
					      
					      </td>		      
					    </tr>
			   		<% }); %>	     
			    </tbody>
		  </table>	     
	    
		</div>
		
	</div>
 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>