<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="card mt-2">
		
		<div class="card-header">
	     <h5 class="card-title">BORSA TREBALL</h5>
	  </div>

    <div class="card-body">
	    
			<table class="table table-striped">
		  		<thead>
				    <tr>		      
				      <th scope="col" style="background-color: lightgrey;">Nom Empresa</th>
					  <th scope="col" style="background-color: lightgrey;">Nom Gestor</th>
					  <th scope="col" style="background-color: lightgrey;">cargo</th>
					  <th scope="col" style="background-color: lightgrey;">telefon</th>
					  <th scope="col" style="background-color: lightgrey;">perfil Habilitado</th>
				     
				      </th>
				    </tr>
		  		</thead>
			  	<tbody>
			  		<% listaEmpresa.forEach( function(empresa) { %>
					    <tr>
							      
					      <td><b><%= empresa.nomEmpresa %></b></td>
                          <td><%= empresa.nomGestor %></td>
						  <td><%= empresa.carrec %></td>
                          <td><%= empresa.telefon %></td>
                          <td><%= empresa.perfilHabilitado %></td>
					    </tr>
						<td>
							<a href="delete/<%= usuari._id %>" ><button type="button" class="btn btn-danger">Delete</button></a>
						</td>
			   		<% }); %>	     
			    </tbody>
		  </table>	     
	    
		</div>
		
	</div>
 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>