<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="card mt-2">
		
		<div class="card-header">
	     <h5 class="card-title">USUARIOS</h5>
	  </div>

    <div class="card-body">
	    
			<table class="table table-striped">
		  		<thead>
				    <tr>		      
				      <th scope="col">Name</th>
					  <th scope="col">Email</th>
					  <th scope="col">ID</th>
				      </th>
				    </tr>
		  		</thead>
			  	<tbody>
			  		<% listaUsuarios.forEach( function(usuari) { %>
					    <tr>		      
					      <td><%= usuari.name %></td>
						  <td><%= usuari.email %></td>
						  <td><%= usuari._id %></td>
<<<<<<< HEAD
						  <td><%= usuari._enum %></td>
=======
						  <td><%= usuari.rolUser %></td>
>>>>>>> 3754c3b7a1e9f1a894db0f6735b991399f74725e
					      
					      </td>		      
					    </tr>
			   		<% }); %>	     
			    </tbody>
		  </table>	     
	    
		</div>
		
	</div>
 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>