<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="card mt-2">
		
		<div class="card-header">
	     <h5 class="card-title">Technical Book List</h5>
	  </div>

    <div class="card-body">
	    
			<table class="table table-striped">
		  		<thead>
				    <tr>		      
				      <th scope="col">Name</th>
				      <th scope="col">
				      	<!-- <a href="/technicalBook/create" class="btn btn-primary">New</a> -->
				      </th>
				    </tr>
		  		</thead>
			  	<tbody>
			  		<% list.forEach( function(listaUsuarios) { %>
					    <tr>		      
					      <td><%= listaUsuarios.name %></td>
					      <td>					      	
					      	<!-- <a class="btn btn-secondary" href="/technicalBook/update/<%=book._id%>" class="card-link">Edit</a> -->
					      </td>		      
					    </tr>
			   		<% }); %>	     
			    </tbody>
		  </table>	     
	    
		</div>
		
	</div>
 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>