<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>


<form action="/user/update/<%= user.id %>" method="POST">
  <fieldset >
    <div class="form-group">
      <label for="disabledTextInput">Nom</label>
      <input type="text" name="name" id="name" value="<%= user.name %>">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" name="description" id="description"  value="<%= user.description %>">
    </div>
    <div class="form-group">
      <label for="disabledTextInput">Email</label>
      <input type="text" name="email" id="email" class="form-control"  value="<%= user.email %>">
    </div>
    <div class="form-group">
      <label for="disabledTextInput">Password</label>
      <input type="text"  name="passwordHash" id="passwordHash" class="form-control"  value="<%= user.passwordHash %>">
    </div>
    
     
    <div class="form-group">
      <label for="disabledSelect">rolUser</label>
      <input type="text" name="rolUser" id=""  value="<%= user.rolUser %>">
      
    </div>
    
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>