<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body className="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div className="card mt-2">
		
		<div className="card-header">
	     <h5 className="card-title">USUARIOS</h5>
	  </div>

    <div className="card-body">
	    
			<table className="table table-striped">
		  		<thead>
				    <tr>		      
				      <th scope="col">Name</th>
					  <th scope="col">Description</th>

					  <th scope="col">Email</th>
					  <th scope="col">ID</th>
					  <th scope="col">Rol</th>
				      </th>
				    </tr>
		  		</thead>
			  	<tbody>
			  		<% listaUsuarios.forEach( function(usuari) { %>
					    <tr>		      
					      <td><%= usuari.name %></td>
						  <td><%= usuari.description %></td>
						  <td><%= usuari.email %></td>
						  <td><%= usuari._id %></td>

						  <td><%= usuari.rolUser %></td>

						  <td><%= usuari._enum %></td>


					      
					      </td>		
						  <td>
							<a href="update/<%= usuari._id %>"><button type="button" className="btn btn-primary">Update</button></a>
							<a href="delete/<%= usuari._id %>" ><button type="button" className="btn btn-danger">Delete</button></a>
					      </td>      

					    </tr>
			   		<% }); %>	     
			    </tbody>
		  </table>	     
	    
		</div>
		
	</div>
 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>